/* - White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%) */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 80vh;
    background-color: hsl(216, 12%, 8%);
}

.container {
    height: 360px;
    width: 350px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10vh;
    border-radius: 25px;
    background-color: hsl(213, 19%, 18%);
}

span {

    height: 90px;
    width: 40px;
    background-color: aquamarine;
    margin: 20px 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsl(213, 14%, 30%);
}

.content {
    margin: 20px 10px 10px 20px;
}

h2 {
    color: hsl(0, 0%, 100%);
}

p {
    margin-top: 10px;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.buttonBox {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 20px 0 15px;
}

.buttonBox button {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: none;
    outline: none;
    color: hsl(216, 12%, 54%);
    font-weight: 700;
    background-color: hsl(213, 14%, 30%);
}

.buttonBox button:hover{
    background-color: rgb(255, 171, 199);
    color: black;
    box-shadow: 2px 2px 2px rgb(255, 216, 216);
    /* color: rgb(51, 51, 199); */
}

#subBtn {
    margin: 40px 20px;
    height: 100px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    background-color: hsl(25, 97%, 53%);
}

#subBtn:hover{
    box-shadow: 4px 4px 4px rgb(251, 242, 225);
}


/* thank you box designing */


.thankuBox {
    height: 330px;
    width: 320px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20vh;
    border-radius: 25px;
    background-color:  hsl(213, 19%, 18%);
    display: none;
}

.thankimage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thankimage img {
    height: 100px;
    width: 100px;
    margin-top: 25px;
}

.showRating {
 height: 30px;
 width: 180px;
 margin-top: 20px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 70px;
 border-radius: 30px;
 padding-bottom: 10px;
 background-color:hsl(213, 14%, 30%);
}

.showRating p{
    color: hsl(25, 97%, 53%);
}

.thankcontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    margin-top: 10px;
}

h1{
    color:hsl(0, 0%, 100%) ;
}

.thankcontent p{
    text-align: center;
    color:hsl(216, 12%, 54%);
    font-size: 15px;
}

.clicked{
    background-color: blueviolet;
}